@model iBookStoreMVC.ViewModels.CatalogItem

<div class="catalog-item">
    <a asp-controller="Catalog" asp-action="Detail" asp-route-catalogItemId="@Model.Id" class="book-container">
        <img class="book-img" src=@("/images/books/" + Model.ISBN13 + ".jpg") />
        <div class="pt-2 pb-2">
            <div class="book-name" title="@Model.Name">@Model.Name</div>
            <div class="author-name" title="@Model.Author">@Model.Author</div>
            <div class="book-rating" data-rating="@Model.Rating.Rating"></div>
            <div class="book-price">NZ$@Model.Price.ToString("N2")</div>
        </div>
    </a>
    <input class="btn btn-primary add-to-cart" disabled=@(!User.Identity.IsAuthenticated || Model.AvailableStock == 0)
           data-catalog-item-id="@Model.Id" type="submit"
           title=@Html.Raw(Model.AvailableStock == 0 ? "'Out of stock'" : "'Add to cart'") value="Add to cart" />
</div>