@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<iBookStoreMVC.ViewModels.WishlistItem>

@{
    ViewData["Title"] = "My Wishlist";
}

<div class="wishlist-container">
    <div class="h4 mb-4">My Wishlist</div>

    @if (Model.Any())
    {
        <div class="d-flex flex-row flex-wrap">
            @for (var i = 0; i < Model.Count(); i++)
            {
                var book = Model.Skip(i).Take(1).Single();
                <div class="d-flex col-6 p-0 pr-4 mt-4 mb-4">
                    <div class="col-4 book-img pl-0">
                        <a asp-controller="Catalog" asp-action="Detail" asp-route-catalogItemId="@book.ProductId">
                            <img src=@("/images/books/" + book.ISBN13 + ".jpg") />
                        </a>
                    </div>
                    <div class="col-8">
                        <a class="book-name" asp-controller="Catalog" asp-action="Detail" asp-route-catalogItemId="@book.ProductId">@book.ProductName</a>
                        <div class="pt-1">By (author) @book.Author</div>
                        <h3 class="book-price">@(HttpContextAccessor.HttpContext.Session.GetString("currency") ?? "NZD") @(book.ConvertedPrice.ToString("N2"))</h3>
                        <div class="wishlist-buttons">
                            <a class="btn btn-primary"
                               asp-controller="Wishlist" asp-action="AddToCart" asp-route-productId="@book.ProductId">
                                Add To Cart
                            </a>
                            <a class="btn btn-secondary ml-3"
                               asp-controller="Wishlist" asp-action="DeleteItem" asp-route-productId="@book.ProductId">
                                Delete Item
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="empty-text">
            Your wishlist is empty
        </div>
    }
</div>