@model iBookStoreMVC.ViewModels.CatalogItem

@{
    ViewData["Title"] = "Book Detail";
}

<style>
    body {
        background-color: #f3f3f3;
    }
</style>

<div>
    <div class="row">
        <div class="col-9 p-2 panel lhs-detail">
            <div class="book-img">
                <img src=@("/images/books/"+ Model.ISBN13 + ".jpg") />
            </div>
            <div class="book-detail p-3">
                <h4 class="book-name">@Model.Name</h4>
                <div class="book-info pt-3">
                    <div>@Model.TotalPage pages | Published on: @Model.PublicationDate.ToString("dd/MM/yyyy") | ISBN13: @Model.ISBN13</div>
                    <div>By (author) @Model.Author</div>
                    <div class="book-description pt-2">@Model.Description</div>
                </div>
            </div>
        </div>
        <div class="col-3 pr-0">
            <div class="rhs-detail panel p-3">
                <h3 class="book-price">NZ$@Model.Price.ToString("N2")</h3>
                <form asp-controller="Cart" asp-action="AddToCart">
                    <input class="btn btn-primary @((!User.Identity.IsAuthenticated) ? "is-disabled" : "")" type="submit" value="Add to cart" />
                    <input type="hidden" asp-for="@Model.Id" name="id" />
                </form>
            </div>
        </div>
    </div>
</div>
