@model iBookStoreMVC.ViewModels.CatalogIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <section class="category-filters pb-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                @foreach (var category in @Model.Categories)
                {
                    <a asp-action="Index" asp-route-categoryFilterApplied="@category.Value" class="dropdown-item">@category.Text</a>
                }
            </div>
        </div>
    </section>

    <h4 class="pt-4 border-top">
        @if (!String.IsNullOrWhiteSpace(Model.SearchTerm))
        {
            <span>Search results for @Model.SearchTerm</span>
        }
        else if (Model.CategoryFilterApplied != null)
        {
            <span>Category: @Model.Categories.Single(c => c.Value == Model.CategoryFilterApplied.Value.ToString()).Text</span>
        }
        else
        {
            <span>All Books</span>
        }
    </h4>

    @if (Model.PaginationInfo.TotalItems == 0)
    {
        <div class="d-flex align-items-center justify-content-center p-5">
            <span>No books have been found.</span>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model.CatalogItems)
            {
                @Html.Partial("_catalogItemCard", item)
            }
        </div>
        @Html.Partial("_pagination", Model.PaginationInfo)
    }
</div>
