@model iBookStoreMVC.ViewModels.CatalogIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="h4 mb-4">Books in store</div>
    <section class="category-filters">
        <div class="container">
            <form asp-action="Index" asp-controller="Catalog" method="post">
                <div class="form-group">
                    <label class="catalog-label" data-title="category">
                        <select asp-for="@Model.CategoryFilterApplied" asp-items="@Model.Categories" class="catalog-filter form-control"></select>
                    </label>
                    <button type="submit" class="btn btn-link category-button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </section>

    <div class="row">
        @foreach (var item in Model.CatalogItems)
        {
            <div class="col-3 catalog-item">
                <form asp-controller="Cart" asp-action="AddToCart">
                    <a asp-action="Detail" asp-route-catalogItemId="@item.Id" class="book-container">
                        <img class="book-img" src=@("/images/books/"+ item.ISBN13 + ".jpg") />
                        <div class="pt-2 pb-2">
                            <div class="book-name" title="@item.Name">@item.Name</div>
                            <div class="author-name" title="@item.Author">@item.Author</div>
                            <div class="book-price">NZ$@item.Price.ToString("N2")</div>
                        </div>
                    </a>
                    <input class="btn btn-primary" disabled=@(!User.Identity.IsAuthenticated || item.AvailableStock == 0)
                           title=@Html.Raw(item.AvailableStock == 0 ? "'Out of stock'" : "'Add to cart'") type="submit" value="Add to cart" />
                    <input type="hidden" asp-for="@item.Id" name="id" />
                </form>
            </div>
        }
    </div>
    @Html.Partial("_pagination", Model.PaginationInfo)
</div>
