@model IEnumerable<iBookStoreMVC.ViewModels.CatalogItem>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="h4 mb-4">Books in store</div>
    <div class="row">
        @foreach (var item in Model) {
            <div class="col-3 p-5">
                <form asp-controller="Cart" asp-action="AddToCart">
                    <div class="book-container" title="@item.Description">
                        <img class="book-img" src="~/images/book_placeholder.jpg" />
                        <div class="p-2">
                            <div class="book-name">@item.Name</div>
                            <div>@item.Author</div>
                            <div>$@item.Price.ToString("N2")</div>
                        </div>
                    </div>
                    <input class="btn btn-primary @((!User.Identity.IsAuthenticated) ? "is-disabled" : "")" type="submit" value="Add to cart" />
                    <input type="hidden" asp-for="@item.Id" name="id" />
                </form>
            </div>
        }
    </div>
</div>
