@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model iBookStoreMVC.ViewModels.Basket

@{
    ViewData["Title"] = "My Cart";
}

<div class="container mt-5">
    @if (ViewBag.BasketInoperativeMsg != null)
    {
        <br />
        <div class="alert alert-warning" role="alert">
            &nbsp;@ViewBag.BasketInoperativeMsg
        </div>
    }
    else
    {
        <article class="basket-titles row mb-4">
            <section class="basket-title col-3"></section>
            <section class="basket-title col-3">Book</section>
            <section class="basket-title col-2">Price</section>
            <section class="basket-title col-2">Quantity</section>
            <section class="basket-title col-2">Cost</section>
        </article>

        @for (int i = 0; i < Model.Items.Count; i++)
        {
            var item = Model.Items[i];

            <article class="basket-items row mt-3">
                <section class="basket-item basket-item--middle col-lg-3">
                    <a asp-controller="Catalog" asp-action="Detail" asp-route-catalogItemId="@item.ProductId">
                        <img class="basket-image" src=@("/images/books/" + item.ISBN13 + ".jpg") />
                    </a>
                </section>
                <section class="basket-item basket-item--middle col-3">
                    <a class="book-name" asp-controller="Catalog" asp-action="Detail" asp-route-catalogItemId="@item.ProductId">
                        @item.ProductName
                    </a>
                </section>
                <section class="basket-item basket-item--middle col-2">@(HttpContextAccessor.HttpContext.Session.GetString("currency") ?? "NZD") @(item.ConvertedPrice.ToString("N2"))</section>
                <section class="basket-item basket-item--middle col-2">
                    <input type="hidden" name="@("quantities[" + i +"].Key")" value="@item.Id" />
                    <input type="number" class="basket-input col-9" min="1" name="@("quantities[" + i +"].Value")" value="@item.Quantity" />
                </section>
                <section class="basket-item basket-item--middle basket-item--mark col-2">@(HttpContextAccessor.HttpContext.Session.GetString("currency") ?? "NZD") @Math.Round(item.Quantity * item.ConvertedPrice, 2).ToString("N2")</section>
            </article>
        }

        <div>
            <article class="basket-titles basket-titles--clean row">
                <section class="basket-title col-10"></section>
                <section class="basket-title col-2">Total</section>
            </article>

            <article class="basket-items row">
                <section class="basket-item col-10"></section>
                <section class="basket-item basket-item--mark col-2">@(HttpContextAccessor.HttpContext.Session.GetString("currency") ?? "NZD") @Model.Total()</section>
            </article>

            <article class="basket-items row mt-5">
                <section class="basket-item col-8"></section>
                <section class="basket-item col-1 mr-5">
                    <button class="btn btn-primary basket-checkout" name="action" value="" type="submit">Update</button>
                </section>
                <section class="basket-item col-1">
                    <input type="submit"
                           class="btn btn-primary basket-checkout"
                           value="Checkout" name="action" />
                </section>
            </article>
        </div>
    }

</div>


