@model iBookStoreMVC.ViewModels.PaginationInfo

<div class="container">
    <article class="pager-wrapper row">
        <nav>
            <a class="pager-item pager-item--navigable @Model.Previous"
               id="Previous"                    
               asp-controller="CatalogManagement"
               asp-action="Index"
               asp-route-page="@(Model.ActualPage -1)"
               aria-label="Previous">
                Previous</a>

            <span class="pager-item">
                Showing @Model.ItemsPerPage of @Model.TotalItems books - Page @(Model.ActualPage + 1) - @Model.TotalPages
            </span>

            <a class="pager-item pager-item--navigable @Model.Next"
               id="Next"                    
               asp-controller="CatalogManagement"
               asp-action="Index"
               asp-route-page="@(Model.ActualPage + 1)"
               aria-label="Next">
                Next
            </a>
        </nav>
    </article>
</div>