@model iBookStoreMVC.ViewModels.Order

    <section class="orders_new-section">
        <article class="orders_new-titles row">
            <section class="orders_new-title col-12"><h4>Order details</h4></section>
        </article>

        <article class="orders_new-titles row mb-4">
            <section class="orders_new-title col-4"></section>
            <section class="orders_new-title col-4">Book</section>
            <section class="orders_new-title col-1">Price</section>
            <section class="orders_new-title col-1">Quantity</section>
            <section class="orders_new-title col-2">Cost</section>
        </article>

        @for (int i = 0; i < Model.OrderItems.Count; i++) {
            var item = Model.OrderItems[i];

            <article class="orders_new-items orders_new-items--border row">
                <section class="orders_new-item col-md-4 hidden-md-down">
                    <img class="orders_new-image" src="~/images/book_placeholder.jpg">
                    <input type="hidden" value="@item.PictureUrl" name=@("orderitems[" + i + "].PictureUrl") />
                </section>
                <section class="orders_new-item orders_new-item--middle col-4">
                    @item.ProductName
                    <input type="hidden" value="@item.ProductName" name=@("orderitems[" + i + "].ProductName") />
                </section>
                <section class="orders_new-item orders_new-item--middle col-1">
                    $ @item.UnitPrice.ToString("N2")
                    <input type="hidden" value="@item.UnitPrice" name=@("orderitems[" + i + "].UnitPrice") />
                </section>
                <section class="orders_new-item orders_new-item--middle col-1">
                    @item.Units
                    <input type="hidden" value="@item.Units" name=@("orderitems[" + i + "].Units") />
                </section>
                <section class="orders_new-item orders_new-item--middle col-2">$ @Math.Round(item.Units * item.UnitPrice, 2).ToString("N2")</section>
            </article>
        }
    </section>

<section class="orders_new-section orders_new-section--right">
    <article class="orders_new-titles row">
        <section class="orders_new-title col-10"></section>
        <section class="orders_new-title col-2">Total</section>
    </article>

    <article class="orders_new-items row">
        <section class="orders_new-item col-10"></section>
        <section class="orders_new-item orders_new-item--mark col-2">
            $ @Model.Total.ToString("N2")
            <input type="hidden" value="@Model.Total" name="Total" />
        </section>
    </article>
</section>
