@using iBookStoreMVC.ViewModels
@model iBookStoreMVC.ViewModels.Order

@{
    ViewData["Title"] = "Order Detail";
}

@await Html.PartialAsync("_Header", new List<Header>() {
    new Header() { Controller = "Order", Text = "<< Back to my orders" } })

<h4>Order Detail</h4>
<div class="orders_detail">
    <div class="container">
        <section class="orders_detail-section">
            <article class="orders_detail-titles row">
                <section class="orders_detail-title col-3">Order number</section>
                <section class="orders_detail-title col-3">Date</section>
                <section class="orders_detail-title col-3">Total</section>
                <section class="orders_detail-title col-3">Status</section>
            </article>

            <article class="orders_detail-items row">
                <section class="orders_detail-item col-3">@Model.OrderNumber</section>
                <section class="orders_detail-item col-3">@Model.CreatedDate</section>
                <section class="orders_detail-item col-3">$@Model.Total</section>
                <section class="orders_detail-item col-3">@Model.Status</section>
            </article>
        </section>

        <section class="orders_detail-section">
            <article class="orders_detail-titles row">
                <section class="orders_detail-title col-12">Shiping address</section>
            </article>

            <article class="orders_detail-items row">
                <section class="orders_detail-item col-12">@Model.Street</section>
            </article>

            <article class="orders_detail-items row">
                <section class="orders_detail-item col-12">@Model.City</section>
            </article>

            <article class="orders_detail-items row">
                <section class="orders_detail-item col-12">@Model.Country</section>
            </article>
        </section>

        <section class="orders_detail-section">
            <article class="orders_detail-titles row">
                <section class="orders_detail-title col-12">ORDER DETAILS</section>
            </article>

            <article class="orders_detail-items orders_detail-items--border row mb-2">
                <section class="orders_detail-item col-md-4 hidden-md-down">
                </section>
                <section class="orders_detail-title orders_detail-item--middle col-4">Book</section>
                <section class="orders_detail-title orders_detail-item--middle col-1">Price</section>
                <section class="orders_detail-title orders_detail-item--middle col-1">Quantity</section>
                <section class="orders_detail-title orders_detail-item--middle col-2">Cost</section>
            </article>

            @for (int i = 0; i < Model.OrderItems.Count; i++) {
                var item = Model.OrderItems[i];
                <article class="orders_detail-items orders_detail-items--border row">
                    <section class="orders_detail-item col-md-4 hidden-md-down">
                        <img class="orders_detail-image" src="~/images/book_placeholder.jpg">
                    </section>
                    <section class="orders_detail-item orders_detail-item--middle col-4">@item.ProductName</section>
                    <section class="orders_detail-item orders_detail-item--middle col-1">$ @item.UnitPrice.ToString("N2")</section>
                    <section class="orders_detail-item orders_detail-item--middle col-1">@item.Units</section>
                    <section class="orders_detail-item orders_detail-item--middle col-2">$ @Math.Round(item.Units * item.UnitPrice, 2).ToString("N2")</section>
                </article>
            }
        </section>

        <section class="orders_detail-section orders_detail-section--right">
            <article class="orders_detail-titles basket-titles--clean row">
                <section class="orders_detail-title col-10"></section>
                <section class="orders_detail-title col-2">TOTAL</section>
            </article>

            <article class="orders_detail-items row">
                <section class="orders_detail-item col-10"></section>
                <section class="orders_detail-item orders_detail-item--mark col-2">$ @Model.Total</section>
            </article>
        </section>
    </div>
</div>
